# Image data (large files)
frames/

# Generated model files
*.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# Logs
*.log

# Temporary files
*.tmp
*.swp